<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Via cdn</title>
    <!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <span v-bind:title="date">
            {{message}}

        </span>
        
        <button v-on:click="toggleTitle">Toggle Title</button>
        <h1 v-if="showTitle">Conditional Rendering</h1>

        <input type="text" v-model="input">
        <p>Text: {{input}}</p>
        <ul>
            <todo-item v-for="todo in todos" v-bind:todo="todo" v-bind:key="todo.text"></todo-item>

        </ul>
    </div>

    <script>
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{todo.text}}</li>'
        })
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hallo Vue ',
                date: new Date().toLocaleString(),
                showTitle: true,
                input: "",
                todos: [
                    {text: "Learn vue"},
                    {text: "Vue structure"},
                    {text: "Vue Bootrap"},
                ]
            },
            methods: {
                toggleTitle() {
                    this.showTitle = !this.showTitle;
                }
            }
        })
    </script>
    
</body>
</html>